@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.header {
  padding: 1rem 3rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.1);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
li {
  list-style-type: none;
}
.nav ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  cursor: pointer;
}
.btn {
  border: none;
  background: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  cursor: pointer;
}
.login {
  color: #5683f6;
}
.register {
  padding: 12px 18px;
  color: #fbfbfb;
  background: #5683f6;
  border-radius: 10px;
  margin-left: 3rem;
}
.heroSection {
  display: flex;
  justify-content: center;
}
.heroText {
  margin: 8rem 0rem 4rem 4rem;
  width: 100%;
}
.heroText h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  margin-bottom: 2rem;
}
.heroDescription {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #101010;
  width: 90%;
  margin-bottom: 1rem;
}
.heroSmallText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  margin-bottom: 3rem;
}
.create {
  padding: 12px 18px;
  color: #fbfbfb;
  background: #5683f6;
  border-radius: 10px;
}
.show {
  background: #dde6fd;
  padding: 2rem 5rem;
}
.showContainer {
  background: rgba(207, 207, 207, 0.26);
  border: 1px solid #cfcfcf;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  /* gap: 2rem; */
}
.showBox {
  background: rgba(207, 207, 207, 0.26);
  box-shadow: 0px 3.42857px 3.42857px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.showBox p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13.7143px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.514286px;
  color: #606060;
}
.brands {
  margin: 3rem;
}
.brands h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  text-align: center;
}
.brands div {
  display: flex;
  justify-content: space-around;
  margin: 2rem 3rem;
}
.brands div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  opacity: 0.5;
}
.about {
  display: flex;
  margin: 1rem 4rem;
}
.aboutText h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #101010;
  margin-bottom: 1rem;
}
.aboutText p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #101010;
  margin-bottom: 2rem;
}
.aboutBox {
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}
.fa-circle-check {
  color: #44cf63;
}
.aboutBox p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #606060;
}
.offer {
  display: flex;
  justify-content: space-between;
}
.offerText {
  margin: 6rem 4rem 0rem;
}
.offerText h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 3rem;
}
.offerText p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 2rem;
}
.howItWorks {
  padding: 2rem 5rem;
}
.howItWorks h3 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #101010;
}
.howItWorks p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #101010;
  text-align: center;
  margin-top: 2rem;
}
.containerDiamond {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.diamond {
  position: relative;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 10px 40px;
}
.diamond:before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: rotateX(45deg) rotateZ(45deg);
}
.diamond:after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
  height: calc(100% - 22px);
  width: calc(100% - 22px);
  border: 10px solid #5683f6;
  transform: rotateX(45deg) rotateZ(45deg);
}
.diamond p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: #606060;
}
footer {
  padding: 5rem;
  background: #dde6fd;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.qrgen p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #606060;
}
.links h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #101010;
}
.links ul {
  flex-direction: column;
  gap: 1rem;
}
.links ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #606060;
}
@media screen and (max-width: 1000px) {
  .header {
    padding: 1rem;
  }
  .nav {
    justify-content: space-around;
    gap: 0.5rem;
    margin-left: 0rem;
  }
  .nav img {
    width: 20%;
  }
  ul {
    gap: 2rem;
  }
  .register {
    padding: 8px 15px;
    margin-left: 1rem;
  }
  .heroSection {
    justify-content: center;
  }
  .heroText {
    margin: 3rem 1rem 0rem 3rem;
    width: 50%;
  }
  .heroImage {
    width: 50%;
  }
  .heroImage img {
    width: 100%;
  }
  .heroText h1 {
    line-height: 50px;
    font-size: 40px;
    margin-bottom: 0rem;
  }
  .show {
    padding: 2rem;
  }
  .showContainer {
    padding: 2rem;
  }
  .brands {
    margin: 1rem;
  }
  .brands div {
    margin: 1rem;
  }
  .about {
    margin: 2rem;
  }
  .aboutImage {
    width: 50%;
  }
  .aboutImage img {
    width: 100%;
  }
  .aboutText {
    width: 50%;
  }
  .aboutBox {
    margin-top: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .offerText {
    width: 50%;
    margin: 2rem 4rem;
  }
  .offerImage {
    width: 50%;
  }
  .offerImage img {
    width: 100%;
  }
}
@media screen and (max-width: 906px) {
  .heroSmallText {
    margin-bottom: 1rem;
  }
  .brands div {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 846px) {
  .show {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 790px) {
    .showContainer{
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
}
@media screen and (max-width: 760px) {
  .heroSection {
    flex-direction: column;
  }
  .heroText {
    width: 100%;
    text-align: center;
  }
  .heroImage {
    width: 100%;
    text-align: center;
  }
  .about{
    flex-direction: column;
  }
  .aboutImage{
    width: 100%;
  }
  .aboutText{
    width: 100%;
  }
  .offer{
    flex-direction: column;
    margin: 0rem;
  }
  .offerText{
    width: 100%;
    margin: 2rem;
  }
  .offerImage{
    width: 100%;
  }

  .containerDiamond{
    flex-wrap: wrap;
    justify-content: center;
  }
 
}
