* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #DDE6FD;
    --white: #FBFBFB;
    --other-color: #101010;
    --font-family: 'Poppins';
    --font-style: normal;
}

body {
    background-color: var(--bg-color);
    color: var(--other-color);
    height: 100vh;
}

.r-container {
    background-color: var(--white);
    position: absolute;
    align-items: center;
    max-height: 870px;
    max-width: 900px;
    left: 270px;
    top: 76px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.1);

}


.title {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #101010;
    padding-top: 100px;

}

span {
    color: #5683F6;
}

p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

form {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-left: 30px;


}

form label {
    font-size: 24px;
    color: var(--other-color);
}

form input {
    color: #cfcfcf;
    padding-left: 12px;
    border: 1px solid #AFAFAF;
    opacity: 0.4;
    border-radius: 4px;
    font-size: 16px;
}

form .dtype input {
    display: block;
    margin: 18px 0px;
    width: 705px;
    height: 56px;
    margin-right: 20px;
}

form .name {
    display: flex;
}

form .name input {

    width: 300px;
    height: 56px;
    margin: 18px 0px;
}

button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 705px;
    height: 56px;
    left: 97px;
    top: 684px;
    background-color: #5683F6;
    ;
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 24px;

}

.users {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    padding-bottom: 82px;
    margin-top: 20px;
}

.users a {
    text-decoration: none;
}

.logo {
    text-align: center;
    padding-top: 70px;
}

.logo h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.logo p {
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    padding-bottom: 44px;

}

form .rem {
    padding-bottom: 28px;
    display:flex;

}

.remember_me input {
    width: 24px;
    height: 24px;
    left: 0px;
    top: 4px;
    color: #606060;

}

.remember_me label {
    align-items: center;
    text-align: center;
}

.forgotps a {
    text-decoration: none;
    color: #606060;
    opacity: 0.4;
    align-items: right; 
    padding-right: 67px;
    transform: translate(-50%, -50%) scale(1.25);
}

.close-btn {
    position: absolute;
    left: 95.6%;
    right: 2.45%;
    top: 3.16%;
    bottom: 94.32%;
    height: 12px;
    width: 12.33px;
    border: 2px solid #606060;
    text-align: center;
    align-items: center;
    line-height: 15px;
    font-size: 24px;
    cursor: pointer;

}

.popup {
    width: 613px;
    height: 475px;
    background: #FBFBFB;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    position: absolute;
    align-items: center;
    top: -150%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-out 200ms,
        opacity 200ms ease-out 0ms,
        transform 200ms ease-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    z-index: 1;
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-out 200ms,
        opacity 200ms ease-out 0ms,
        transform 200ms ease-out 0ms;
}

.popup-title {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #101010;
    padding-top: 40px;

}

.poptype label {
    display: block;
    width: 592px;
    padding-left: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.poptype input {
    width: 592px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 12px;
    gap: 10px;
    height: 56px;
    top: calc(50% - 56px/2 + 25.5px);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.reset button {
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    position: absolute;
    width: 310px;
    height: 56px;
    left: 152px;
    top: 353px;
}

.user {
    position: absolute;
    width: 189px;
    height: 24px;
    left: 188px;
    top: 422px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ABA5A5;

}

.user a {
    text-decoration: none;
}

.hide_me {
    display: none;
}

@media screen and (max-width: 900px) {
  
    .r-container {
        max-width: 500px;
        position: absolute;
        left: 95px;
        top: 30px; 
    }

    form .dtype input {
        max-width: 350px;
        padding-left: 0px;
    }
    .name {
        display: flex;
        flex-direction: column;
    }
    button {
        max-width: 400px;
    }  
    form .rem{
        display: block;
    }  
}

@media screen and (max-width: 667px) {
    .r-container {
        max-width: 100vw;
        position: absolute;
        left: 0px;
        top: 0px; 
    }
    .name {
        display: flex;
        flex-direction: column;
    }
    button {
        max-width: 250px;
    }  

}