body {
    background-color: #DDE6FD;
    font-family: 'Poppins';
    font-style: normal;

}

.r-container {
    background-color: #FBFBFB;
    position: relative;
    align-items: center;
    max-height: 870px;
    max-width: 900px;
    left: 230px;
    top: 56px;
    margin-bottom: 96px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.1);
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #101010;
    padding-top: 48px;
}

span,
.users a {
    color: #5683F6;
}

p {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

form,
.pop-form label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 10px;
}

form {
    margin-left: 109px;
}

form .dtype input {
    display: block;
    margin: 18px 0px;
    width: 705px;
    height: 56px;
    margin-right: 20px;
}

.pop-form input {
    display: block;
    margin: 10px;
    width: 592px;
    height: 56px;
}

form .name {
  display: flex;
}

form .name input {
    width: 315px;
    height: 56px;
    margin: 18px 0px;
}

button,
.reset button {
    background-color: #5683F6;
    border-radius: 10px;
    border: none;
    color: #FBFBFB;
    font-size: 24px;
    margin: 18px 0px;
}

button {
    width: 705px;
    height: 56px;
}

.reset button, .reset-pass button {
    width: 310px;
    margin-top: 40px;
    margin-left: 150px;
}
.reset-pass button{
    margin-top: 20px;
    margin-bottom: 50px;
}


.users {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    padding-bottom: 82px;

}

a {
    text-decoration: none;
}

.logo {
  text-align: center;
  padding-top: 70px;
}

.rem {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 80px;

}

.rem a {
    opacity: .4;
}

.popup {
    position: relative;
    width: 613px;
    height: 475px;
    background: #FBFBFB;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    align-items: center;
    left: 350px;
    top: 76px;
    margin-bottom: 96px;
}

.close-btn {
    position: absolute;
    left: 95.6%;
    right: 2.45%;
    top: 3.16%;
    bottom: 94.32%;
    height: 20px;
    width: 12.33px;
    text-align: center;
    align-items: center;
    line-height: 15px;
    font-size: 24px;
    cursor: pointer;
    font-weight: 700;
}
.popup svg {    
    margin-left: 255px;
    top: 140px;
}

/* page responsiveness*/
@media screen and (max-width: 1000px) {
    .r-container {
        max-width: 700px;       
        left: 95px;
        top: 30px;
    }
    form {
        margin-left: 50px;
    }
    form .dtype input{
        width: 580px;

    }
    form .name input {
        width: 260px;
    }
    button{
        width: 580px;
    }
    .popup{
        left: 150px;
    }  
}
@media screen and (max-width: 767px)
{
    .r-container {
        max-width: 700px;       
        left: 0px;
        top: 30px;
    }
    .popup{
        width: 613px;
        left: 10px;
    }

}
@media screen and (max-width: 590px) {
    .r-container {        
        left: 0px;
        top: 30px;
    }
    form {
        margin-left: 10px;
    }
    form .dtype input{
        width: 440px;        
    }
    form .name input {
        width: 215px;
    }
    button{
        width: 450px;
    }
    .rem{
        display: block;
        justify-content: space-between ;        
    }
    .popup{
        width: 475px;
        left: 10px;
    }

    .pop-form input{
        width: 450px;
    }
    .reset button{
        margin-left: 90px;        
    }
    .reset-pass button{
        margin-top: 20px;
        margin-left: 90px; 
    }
    .popup .pop-form input{
        height: 40px;
    }
    #btn{
        height: 40px;
        margin-top: 0;
    }

    
}
